{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container" style="width: 80%; background-color: rgba(255,254,250,0.36)">
        <h5>{{ program.title }}</h5>
        <h3>{{ episode.title }}</h3>
        <p>Synopsis :</p>
        <p>{{ episode.synopsis }}</p>
    </div>
{% endblock %}