<h1>{{ slug }}</h1>
<a href="{{ path('wild_show', {'slug':'TITRE'}) }}">Afficher la page 1</a>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolores ipsum itaque molestiae nisi obcaecati perspiciatis quidem rerum temporibus voluptas! Ab distinctio doloremque doloribus dolorum ipsam magnam mollitia, numquam repellendus.</span><span>è</span></p>